* {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 50px; /*top padding before modal box*/
}

.modal-content {
    padding: 10vw;
    padding-bottom: 20vw;
    margin: auto;
    width: 50%;
    background-image: url("../images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    /* get a black outline around text */
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.4),  
        1px -1px 0 rgba(0, 0, 0, 0.4),
        -1px 1px 0 rgba(0, 0, 0, 0.4),
        1px 1px 0 rgba(0, 0, 0, 0.4);
}

.modal-button {
    margin: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.modal-button:hover,
.modal-button:focus {
    text-shadow:
        -2px -2px 0 rgba(0, 0, 0, 0.4),  
        2px -2px 0 rgba(0, 0, 0, 0.4),
        -2px 2px 0 rgba(0, 0, 0, 0.4),
        2px 2px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

button {
    float: left;
    background-color: transparent;
    outline: none;  
    border: none;
    margin: 2vw;
}

.push-the-start {
    position: relative;
    top: 0;
    left: 0;
    width: 26vw;
    height: 8vw;
}

.score-banner {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 34vw;
}

.wood-banner {
    width: 56vw;
    height: 12vw;
}

.cow-container {
    position: absolute;
    top: 3vw;
    left: 13vw;
    width: 36vw;
}

.grey-cow, .cow {
    width: 5vw;
    position: relative;
    top: 0px;
}

#game-board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    perspective: 1000px; /*sets how far the 3d object is from user (closer objects will have stronger 3d effect)*/
    padding: 0.5em;
}

.card.flipped .flipper, .card.matched .flipper {
    transform: rotateY(180deg);    
}

.card.matched .back {
    border: 1px solid gold;
    border-radius: 10px;
}

.card, .front, .back, .card {    
    flex: 0 0 auto;
}

@media all and (max-width: 480px) {
.card, .front, .back, .character-picture {    
    width: 20vw;
    height: 28vw;
    }
}

@media all and (max-width: 900px) {
    .card, .front, .back, .character-picture {    
        width: 15vw;
        height: 21vw;
    }
}

@media all and (min-width: 901px) {
    .card, .front, .back, .character-picture {    
        width: 10vw;
        height: 14vw;
    }
}

.flipper {
    transition: 0.6s; /*flip speed*/
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    /*backfaces of front and back elements are hidden (these faces would be the mirror image of the front and back faces)*/
    backface-visibility: hidden;

    /*absolute position allows front and back faces to overlay on top of each other*/
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid black;
}

.front, .back, .character-picture {    
    border-radius: 10px;
}

.front {
    z-index: 2; /*place front on top of back*/

    transform: rotateY(0deg); /*for firefox 31*/

    background-image: url("../images/card_front.png");
    background-size: cover;
}

.back {
    /*the backface is initially rotated 180 deg, so it is face down*/
    transform: rotateY(180deg);
    /*absolute position allows front and back faces to overlay on top of each other*/
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid black;
}

.front, .back, .character-picture {    
    border-radius: 10px;
}

.front {
    z-index: 2; /*place front on top of back*/

    transform: rotateY(0deg); /*for firefox 31*/

    background-image: url("../images/card_front.png");
    background-size: cover;
}

.back {
    /*the backface is initially rotated 180 deg, so it is face down*/
    transform: rotateY(180deg);
}

body {
    background: url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}